.box-head{
    font-weight: bolder;
    text-align: center;
    font-size: 1.2em;
    color: #fff;
    background-color: #3B4252;
    padding: 0 0.5em;
    margin: 0em;
    flex-shrink: 1;
}
.box{
    display: flex;
    flex-direction: column;
    border: #3B4252 solid 1px;
    margin: .5em;
    padding: 0em;
}
.box-content{
    padding: 0.5em;
}
.boxes-wrapper{
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    grid-auto-rows: minmax(100px, auto);
}
.box-remark{
    background-color: 	#FD971F;
    text-align: center;
    padding: 1em;
    margin: 0.5em 1em;
}
.box-definition{
    background-color: 	#A6E22E;
    padding: 1em;
    margin: 0.5em 1em;
}
.box-important{
    background-color: 	#F92672;
    /* box-shadow: #3B4252aa 4px 4px; */
    padding: 1em;
    margin: 0.5em 1em;
    color: white;
}
.box-tip{
    background-color: 	#66D9EF;
    padding: 1em;
    margin: 0.5em 1em;
}

